{{!
    @template format_mooin4/local/content/frontpage/courseprogress

    Displays the frontpage courseprogress.

    Example context (json):
    {
       TODO
    }
}}

<div class="coursefrontpage__badges-certificates">
    {{^certificate_visibility}}
        <h2>{{#str}} only_badges, format_mooin4 {{/str}}</h2>
    {{/certificate_visibility}}
    {{^badge_visibility}}
        <h2>{{#str}} only_certificates, format_mooin4 {{/str}}</h2>
    {{/badge_visibility}}
    {{#badge_cert_visibility}}
        <h2>{{#str}} badges_certificates, format_mooin4 {{/str}}</h2>
    {{/badge_cert_visibility}}
    
    <div class="tiles-wrapper">
        {{#badges}}
            {{#badge_visibility}}
            <div class="badges-container d-flex flex-column">
                <div class="d-flex align-items-center">
                    <i class="bi bi-trophy-fill me-1"></i>
                    <a href="{{{badgesUrl}}}" class="caption">{{#str}} badges, format_mooin4{{/str}}</a>
                    {{#manage_badges_url}}
                        <a href="{{{manage_badges_url}}}" class="ms-auto"><i class="bi bi-gear-fill"></i></a>
                    {{/manage_badges_url}}
                </div>
                <div class="d-flex align-items-center mt-3 mb-3">
                {{#badgesList}}
                    {{{badgesList}}}
                    {{#otherBadges}}
                        <span class="text-nowrap pe-1">+{{otherBadges}}</span>
                    {{/otherBadges}}
                {{/badgesList}}
                {{^badgesList}}
                <div class="no-badges-container">
                    {{#placeholder_badges_url}}
                        <img src="{{{placeholder_badges_url}}}" alt="{{#str}} no_badges_image_text, format_mooin4{{/str}}" class="placeholder-img" style="max-width: 150px; height: auto; display: block; margin: 0 auto;">
                    {{/placeholder_badges_url}}
                    {{^placeholder_badges_url}}
                        <div class="no-badges-img"></div>
                    {{/placeholder_badges_url}}
                    <span class="blue-info-text">{{#str}} no_badges_image_text, format_mooin4{{/str}}</span>
                </div>
                {{/badgesList}}
                </div>
                <div class="all-badges-link mt-auto">
                    <a href="{{{badgesUrl}}}" class="ms-auto">{{#str}} show_all_infos, format_mooin4{{/str}}</a>
                </div>
            </div>
            {{/badge_visibility}}
        {{/badges}}
        

        {{#certificates}}
        {{#certificate_visibility}}
            <div class="certificates-container">
                <div class="d-flex align-items-center">
                    <i class="bi bi-award-fill"></i>
                    <a href="{{{certificatesUrl}}}" class="caption">{{#str}} certificates, format_mooin4{{/str}}</a>
                    {{#has_capability}}
                    <button type="button" class="btn info-tip ms-auto p-0" data-toggle="tooltip" data-placement="top"
                        title=" {{#str}} certificates_tooltip, format_mooin4 {{/str}}">
                        <span class="bi bi-info-circle-fill"></span>
                    </button>
                    {{/has_capability}}
                </div>
                <div class="mt-3 mb-3 d-flex align-items-center">
                {{#coursecertificates}}
                    {{{coursecertificates}}}
                    {{#othercertificates}}
                    <span class="text-nowrap pe-1">+{{{othercertificates}}}</span>
                    {{/othercertificates}}
                {{/coursecertificates}}
                {{^coursecertificates}}
                    <div class="no-certificates-container">
                        {{#placeholder_certificates_url}}
                            <img src="{{{placeholder_certificates_url}}}" alt="{{#str}} no_certificates_image_text, format_mooin4{{/str}}" class="placeholder-img" style="max-width: 150px; height: auto; display: block; margin: 0 auto;">
                        {{/placeholder_certificates_url}}
                        {{^placeholder_certificates_url}}
                            <div class="no-certificates-img"></div>
                        {{/placeholder_certificates_url}}
                        <span class="blue-info-text">{{#str}} no_certificates_image_text, format_mooin4{{/str}}</span>
                    </div>
                {{/coursecertificates}}
                </div>
                <div class="all-badges-link">
                    <a href="{{{certificatesUrl}}}" class="ms-auto">{{#str}} show_all_infos, format_mooin4{{/str}}</a>
                </div>
            </div>
        {{/certificate_visibility}}
        {{/certificates}}
    </div>
</div>