{{!
    @template format_moointopics/local/content/frontpage/courseprogress

    Displays the frontpage courseprogress.

    Example context (json):
    {
       TODO
    }
}}

<div class="coursefrontpage__badges-certificates">
    <h2>{{#str}} badges_certificates, format_moointopics {{/str}}</h2>
    
    <div class="tiles-wrapper">
        {{#badges}}
        <div class="badges-container">
            <div class="d-flex align-items-center">
                <i class="bi bi-trophy-fill mr-1"></i>
                <a href="{{{badgesUrl}}}" class="caption">{{#str}} badges, format_moointopics{{/str}}</a>
                {{#manage_badges_url}}
                    <a href="{{{manage_badges_url}}}" class="ml-auto"><i class="bi bi-gear-fill"></i></a>
                {{/manage_badges_url}}
            </div>
            <div class="d-flex align-items-center mt-3 mb-3">
                {{{badgesList}}}
                {{#otherBadges}}
                    <span class="text-nowrap pr-1">+{{otherBadges}}</span>
                {{/otherBadges}}
            </div>
            <div class="all-badges-link">
                <a href="{{{badgesUrl}}}" class="ml-auto">{{#str}} show_all_infos, format_moointopics{{/str}}</a>
            </div>
        </div>
        {{/badges}}

        {{#certificates}}
        <div class="certificates-container">
            <div class="d-flex align-items-center">
                <i class="bi bi-award-fill"></i>
                <a href="{{{certificatesUrl}}}" class="caption">{{#str}} certificates, format_moointopics{{/str}}</a>
            </div>
            <div class="mt-3 mb-3 d-flex align-items-center">
                {{{coursecertificates}}}
                {{#othercertificates}}
                <span class="text-nowrap pr-1">+{{{othercertificates}}}</span>
                {{/othercertificates}}
            </div>
            <div class="all-badges-link">
                <a href="{{{certificatesUrl}}}" class="ml-auto">{{#str}} show_all_infos, format_moointopics{{/str}}</a>
            </div>
        </div>
        {{/certificates}}
    </div>
</div>