{{!
    @template format_moointopics/local/content/frontpage/courseprogress

    Displays the frontpage courseprogress.

    Example context (json):
    {
       TODO
    }
}}

<div class="coursefrontpage__badges-certificates">
    <h2>{{#str}} badges_certificates, format_moointopics {{/str}}</h2>
    
    <div class="tiles-wrapper">
        {{#badges}}
        <div class="badges-container d-flex flex-column">
            <div class="d-flex align-items-center">
                <i class="bi bi-trophy-fill mr-1"></i>
                <a href="{{{badgesUrl}}}" class="caption">{{#str}} badges, format_moointopics{{/str}}</a>
                {{#manage_badges_url}}
                    <a href="{{{manage_badges_url}}}" class="ml-auto"><i class="bi bi-gear-fill"></i></a>
                {{/manage_badges_url}}
            </div>
            <div class="d-flex align-items-center mt-3 mb-3">
            {{#badgesList}}
                {{{badgesList}}}
                {{#otherBadges}}
                    <span class="text-nowrap pr-1">+{{otherBadges}}</span>
                {{/otherBadges}}
            {{/badgesList}}
            {{^badgesList}}
            <div class="no-badges-container">
                <div class="no-badges-img"></div>
                <span class="blue-info-text">{{#str}} no_badges_image_text, format_moointopics{{/str}}</span>
            </div>
            {{/badgesList}}
            </div>
            <div class="all-badges-link mt-auto">
                <a href="{{{badgesUrl}}}" class="ml-auto">{{#str}} show_all_infos, format_moointopics{{/str}}</a>
            </div>
        </div>
        {{/badges}}
        

        {{#certificates}}
        <div class="certificates-container">
            <div class="d-flex align-items-center">
                <i class="bi bi-award-fill"></i>
                <a href="{{{certificatesUrl}}}" class="caption">{{#str}} certificates, format_moointopics{{/str}}</a>
                {{#has_capability}}
                <button type="button" class="btn info-tip ml-auto p-0" data-toggle="tooltip" data-placement="top"
                    title=" {{#str}} certificates_tooltip, format_moointopics {{/str}}">
                    <span class="bi bi-info-circle-fill"></span>
                </button>
                {{/has_capability}}
            </div>
            <div class="mt-3 mb-3 d-flex align-items-center">
            {{#coursecertificates}}
                {{{coursecertificates}}}
                {{#othercertificates}}
                <span class="text-nowrap pr-1">+{{{othercertificates}}}</span>
                {{/othercertificates}}
            {{/coursecertificates}}
            {{^coursecertificates}}
                <div class="no-certificates-container">
                    <div class="no-certificates-img"></div>
                    <span class="blue-info-text">{{#str}} no_certificates_image_text, format_moointopics{{/str}}</span>
                </div>
            {{/coursecertificates}}
            </div>
            <div class="all-badges-link">
                <a href="{{{certificatesUrl}}}" class="ml-auto">{{#str}} show_all_infos, format_moointopics{{/str}}</a>
            </div>
        </div>
        {{/certificates}}
    </div>
</div>