{{!
    @template format_moointopics/local/content/frontpage/courseprogress

    Displays the frontpage courseprogress.

    Example context (json):
    {
       TODO
    }
}}

<div class="coursefrontpage__community">
    <h2>{{#str}} community, format_moointopics {{/str}}</h2>
   
</div>