{{!
    @template format_moointopics/local/content/frontpage/courseprogress

    Displays the frontpage courseprogress.

    Example context (json):
    {
        "continue_url": URL,
        "continue_text": "Start Learning"
    }
}}

<div class="coursefrontpage__course-progress">
    <h2>{{#str}} progress, format_moointopics {{/str}}</h2>
    <div class="d-flex course-progress-inner">
        <div class="progress-container">
            <div class="progressbar">
                <div class="progressbar-inner" style="width: {{courseprogress}}%"></div>
            </div>
            <span>{{{courseprogress}}}% des Kurses bearbeitet</span>
        </div>
        {{#is_course_started}}
            <a href="{{{continue_url}}}" class="moointopics-btn moointopics-btn--primary">{{#str}} continue, format_moointopics, {{continue_section}}{{/str}}</a>
        {{/is_course_started}}
        {{^is_course_started}}
            <a href="{{{continue_url}}}" class="moointopics-btn moointopics-btn--primary">{{#str}} start, format_moointopics, {{continue_section}}{{/str}}</a>
        {{/is_course_started}}
    </div>
</div>