{{!
    @template format_moointopics/local/content/frontpage/courseprogress

    Displays the frontpage courseprogress.

    Example context (json):
    {
       TODO
    }
}}

<div class="tablet-tiles d-none d-sm-flex d-lg-none flex-column">
    {{> format_moointopics/local/content/frontpage/badges_and_certificates }}
    <div class="seperator"></div>
    {{> format_moointopics/local/content/frontpage/community }}
    
</div>
<div class="seperator d-none d-sm-flex d-lg-none"></div>