

<div class="subpage">
    {{{breadcrumb}}}
    <div class="subpage--discussions d-flex flex-column">
        <h2>{{#str}} all_forums, format_moointopics {{/str}}</h2>
        <div class="border-card mb-3">
            {{#forumslist}}
                <ul>
                    <li>{{{index}}} <a href={{{url}}}>{{{name}}}</a></li>
                </ul>
            {{/forumslist}}
        </div>
    </div>
    
    
</div>