

<div class="subpage">
    {{{breadcrumb}}}
    <div class="subpage--certificates d-flex flex-column">
        <h2>{{#str}} certificates, format_mooin4 {{/str}}</h2>
        {{#certificates}}
        <p>{{#str}} certificate_overview_description, format_mooin4 {{/str}}</p>
            <div class="border-card">
                {{{certificates}}}
            </div>
        {{/certificates}}
        {{^certificates}}
             <div class="no-certificates-container">
                {{#placeholder_certificates_url}}
                    <img src="{{{placeholder_certificates_url}}}" alt="{{#str}} no_certificates_image_text, format_mooin4{{/str}}" class="placeholder-img" style="max-width: 200px; height: auto; display: block; margin: 0 auto;">
                {{/placeholder_certificates_url}}
                {{^placeholder_certificates_url}}
                    <div class="no-certificates-img"></div>
                {{/placeholder_certificates_url}}
                <span class="blue-info-text">{{#str}} no_certificates_image_text, format_mooin4{{/str}}</span>
            </div>
        {{/certificates}}
    </div>
    
</div>