

<div class="subpage">
    {{{breadcrumb}}}
    <div class="subpage--participants d-flex flex-column">
        <h2>{{#str}} participants, format_moointopics {{/str}}</h2>
        {{{participantsmap}}}
    </div>
    
</div>