
<div class="course-title-header">
  {{{edit_header_link}}}
  {{#course_headerimage_mobil}}
  <img src="{{course_headerimage_mobil}}" alt="" class="course-image d-block d-md-none">
  {{/course_headerimage_mobil}}
  {{^course_headerimage_mobil}}
  <div class="course-image course-image-none-mobile d-block d-md-none"></div>
  {{/course_headerimage_mobil}}
  {{#course_headerimage_desktop}}
  <img src="{{course_headerimage_desktop}}" alt="" class="course-image d-none d-md-block">
  {{/course_headerimage_desktop}}
  {{^course_headerimage_desktop}}
  <div class="course-image course-image-none-desktop d-none d-md-block"></div>
  {{/course_headerimage_desktop}}

  <div class="title-overlay fade-out">
    <p>{{#str}} welcome, format_mooin {{/str}}</p>
    <h2>{{coursename}}</h2>
    <a href="{{{continue_url}}}" id="continue-mobile" class="mooin-btn mooin-btn-primary btn-continue d-flex d-md-none">{{continue_text}}</a>
  </div>
</div>

{{#js}}
require(['theme_mooin/title-overlay'], function(module) {
module.fadeOutTitleOverlay();
})
{{/js}}