{{#discussion}}
<div class="discussion">
    <div class="d-none d-sm-inline-block align-items-center mb-3">
      {{#new_news}}
      {{{new_news}}}
      {{/new_news}}

      {{^new_news}}
      <span> {{neue_forum_number}} </span>
      {{#str}} unread_discussions, format_mooin4 {{/str}}
      <a href="{{disc_url}}" class="primary-link">{{#str}} discussion_forum, format_mooin4 {{/str}}</a>
      {{/new_news}}

    </div>

{{#news_text}}
    <div class="news-card d-flex">
      <span class="chat-icon"></span>
      <div class="news-card-inner pt-1">
        <span class="caption-sm d-none d-md-block">
          <a href="{{discussion_url}}" class="fw-700 text-primary">{{#str}} latest_post, format_mooin4{{/str}}</a>
          {{#str}} by, format_mooin4 {{/str}} {{{user_firstname}}} - {{{created_news}}}
        </span>
        <span class="caption d-flex d-md-none justify-content-between">
          <span class="fw-700">{{#str}} latest_contribution_mobile, format_mooin4{{/str}}</span>
          <a href="{{news_url}}" class="primary-link text-primary">{{#str}} all_news_mobile, format_mooin4 {{/str}}</a>
        </span>
        <div class="position-relative pt-0 pt-md-1">
          <span class="new_user_picture d-none d-md-block">{{{user_picture}}}</span>
          <p class="fw-500 text-truncate">{{{news_title}}}</p>
          <div class="d-none d-md-block message">
            {{{news_text}}}
          </div>
        </div>
        <div class="primary-link d-none d-md-block text-right">
          <a href="{{discussion_url}}">{{#str}} discussion_news, format_mooin4 {{/str}}</a>
        </div>
      </div>
    </div>
    {{/news_text}}

</div>
{{/discussion}}