{{#discussion}}
<div class="community-mobile-mooin4-btn d-sm-none">
  <div class="container-md pb-4">
    <br>
    <h2>{{#str}} community, format_mooin4 {{/str}}</h2>
    <div class="even-columns">
      <div class="mooin4-btn mooin4-btn-special">
        <div class="icon-badge">
          <span class="chat-icon"></span>

          {{#new_news}}
          {{^small_countcontainer}}
          <div class="count-container count-discussion fw-700">{{neue_forum_number}}</div>
          {{/small_countcontainer}}
          {{#small_countcontainer}}
          <div class="count-container count-container-small count-discussion fw-700">99+</div>
          {{/small_countcontainer}}
          {{/new_news}}

        </div>
        <a href="{{disc_url}}" class="stretched-link">{{#str}} forums, format_mooin4 {{/str}}</a>
      </div>
      <div>
        <a href="{{participants_url}}" class="mooin4-btn mooin4-btn-special btn-participants">{{#str}} users, format_mooin4 {{/str}}</a>
      </div>
    </div>
  </div>
  <div class="seperator"></div>

</div>

{{/discussion}}