
      <div class="badges-mobile-mooin-btn d-sm-block d-md-none">
        <div class="container-md pb-4">
          <br>
          <h2>{{#str}} badges_certificates, format_mooin {{/str}}</h2>
          <div class="even-columns">
            <div class="mooin-btn mooin-btn-special">
              <div class="icon-badge">
                <span class="badges-icon"></span>
                {{#badges_number}}
                <div class="count-container count-certificate fw-700">{{badges_number}}</div>
                {{/badges_number}}

              </div>
              <a href="{{badges_url}}" class="stretched-link">{{#str}} course_badges, format_mooin {{/str}}</a>
            </div>
            <div class="mooin-btn mooin-btn-special">
              <div class="icon-badge">
                <span class="award-icon"></span>
                {{#certificates_number}}
                <div class="count-container count-certificate fw-700">{{certificates_number}}</div>
                {{/certificates_number}}
              </div>
              <a href="{{certificate_url}}" class="stretched-link">{{#str}} my_certificate, format_mooin {{/str}}</a>
            </div>
          </div>
        </div>
        <div class="seperator"></div>
      </div>