{{#discussion}}
<div class="community-mobile-mooin-btn d-sm-block d-md-none">
  <div class="container-md pb-4">
    <br>
    <h2>{{#str}} community, format_mooin {{/str}}</h2>
    <div class="even-columns">
      <div class="mooin-btn mooin-btn-special">
        <div class="icon-badge">
          <span class="chat-icon"></span>

          {{#new_news}}
          <span class="count-container count-discussion fw-700">{{neue_forum_number}}</span>
          {{/new_news}}

        </div>
        <a href="{{disc_url}}" class="stretched-link">{{#str}} forums, format_mooin {{/str}}</a>
      </div>
      <div>
        <a href="{{participants_url}}" class="mooin-btn mooin-btn-special btn-participants">{{#str}} users, format_mooin {{/str}}</a>
      </div>
    </div>
  </div>
  <div class="seperator"></div>

</div>

{{/discussion}}