{{!
This file is part of Moodle - https://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle. If not, see
<http: //www.gnu.org/licenses />.
}}
{{!
@template format_mooin4/mooin4_mainpage

This Template renders the Format mooin4 Mainpage

Classes required for JS:
* none

Data attributes required for JS:
* none

Context variables required for this template:
* none

Example context (json):
{

}

}}

<div class="wrapper">
    <div class="main-container bg-white">

        {{> format_mooin4/course-title-header}}

        <div class="white-bg">
            <div class="inner-wrapper">

                {{> format_mooin4/news_tile}}
                
                {{> format_mooin4/progress}}

                <div class="seperator"></div>

                {{> format_mooin4/mobile_badges}}
                {{> format_mooin4/mobile_community}}

                <div class="tablet-view d-none d-sm-block d-lg-none">
                    {{> format_mooin4/tablet_badescommunity}}
                </div>



                {{> format_mooin4/topics}}
                {{{show_unenrol_btn}}}

            </div>
        </div>

    </div>

    <div class="side-right d-none d-lg-inline-block">
        {{> format_mooin4/side_right}}
    </div>

</div>