<div class="course-progress">
  <div class="container-md">
    <br>
    <h2>{{#str}} progress, format_mooin4 {{/str}}</h2>
    <div class="two-thirds">
      {{{progressbar}}}


      <div class="pb-4">
        <a href="{{{continue_url}}}" id="tour-continue-mobile" class="mooin4-btn mooin4-btn-primary btn-continue d-flex d-sm-none">{{{continue_text_no_lesson}}}</a>
        <a href="{{{continue_url}}}" id="tour-continue-desktop" class="mooin4-btn mooin4-btn-primary btn-continue d-none d-sm-flex">{{{continue_text}}}</a>
      </div>
    </div>


  </div>
</div>
