{{#topics}}
<div class="topicsOut">
  <div class="container-md">
    {{{topics}}}
  </div>
</div>
{{/topics}}

<!-- <div class="topics border border-warning">
  <div class="container">
    <h2>Kursinhalt - Nur Template</h2>
    <div class="topics-card">
      <ul class="list-titles">

        <li>
          <a data-toggle="collapse" href="#id1" role="button" aria-expanded="false">
            <span class="icon-wrapper list-marker"></span>
            <span class="fw-600 pl-1 list-title">Kapitel 1: Organisation</span>
          </a>

          <ul id="id1" class="collapse list-subtitles">
            <li class="completed">
              Lektion 1.1: Willkommen im Kurs Social Media Marketing
            </li>
            <li class="active">
              Lektion 1.2: Online Marketing: Social Media Plattformen
              <a href="#" class="mooin-btn mooin-btn-primary mooin-btn-icon d-none d-md-flex">
                Beginnen
                <span class="icon-wrapper start-icon"></span>
              </a>
              <a href="#" class="ml-auto mr-0 d-sm-block d-md-none">
                <span class="icon-wrapper start-icon-topics"></span>
              </a>
            </li>
            <li>
              Lektion 1.3: Social Media: Influencer Marketing
            </li>
          </ul>
        </li>

        <li>
          <a data-toggle="collapse" href="#id2" role="button">
            <span class="icon-wrapper list-marker"></span>
            <span class="fw-600 pl-1 list-title">Kapitel 2: Werbeanzeigen</span>
          </a>

          <ul id="id2" class="collapse list-subtitles locked">
            <li>
              Lektion 1.1: Willkommen im Kurs Social Media Marketing
            </li>
            <li>
              Lektion 1.2: Online Marketing: Social Media Plattformen
            </li>
            <li>
              Lektion 1.3: Social Media: Influencer Marketing
            </li>
          </ul>
        </li>

        <li class="outer-list-item">
          <a data-toggle="collapse" href="#id3" role="button">
            <span class="icon-wrapper list-marker"></span>
            <span class="fw-600 pl-1 list-title">Kapitel 3: Arbeitsorganisation</span>
          </a>

          <ul id="id3" class="collapse list-subtitles">
            <li>
              Lektion 1.1: Willkommen im Kurs Social Media Marketing
            </li>
            <li>
              Lektion 1.2: Online Marketing: Social Media Plattformen
            </li>
            <li>
              Lektion 1.3: Social Media: Influencer Marketing
            </li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</div>

-->

