{{!
@template format_mooin4/local/content/coursefrontpage

Displays the course frontpage.

Example context (json):
{
"header": {
"headerimageURL": URL,
},
"coursename": "Coursename",
"coureprogress": {

}
}
}}

    <div class="coursefrontpage">
        <div class="coursefrontpage__main">
            {{#header}}
                {{> format_mooin4/local/content/frontpage/header }}
            {{/header}}
            <div class="mobile-bg">
                {{#newssection_visibility}}
                    {{#news_section}}
                    {{> format_mooin4/local/content/frontpage/news_section }}                
                    {{/news_section}}
                {{/newssection_visibility}}
                {{#progressbar_visibility}}
                    {{#courseprogress}}
                        {{> format_mooin4/local/content/frontpage/courseprogress }}
                    {{/courseprogress}}
                    <div class="seperator"></div>
                {{/progressbar_visibility}}
                {{> format_mooin4/local/content/frontpage/tabletTiles }}
                {{> format_mooin4/local/content/frontpage/mobileTiles }}
                {{> format_mooin4/local/content/frontpage/coursetable }}
                {{#unenrolurl}}
                    <a href="{{{unenrolurl}}}" class="unenrol-btn">{{#str}}unenrol, format_mooin4{{/str}}</a>
                {{/unenrolurl}}
            </div>
            
        </div>
        {{#hide_coursefrontpage_side}}
            <div class="hide-block">
        {{/hide_coursefrontpage_side}}
        {{^hide_coursefrontpage_side}}
            <div class="coursefrontpage__side d-none d-lg-flex">
        {{/hide_coursefrontpage_side}}            
        {{^badge_cert_hide}}
                {{> format_mooin4/local/content/frontpage/badges_and_certificates }}
            {{/badge_cert_hide}}
            {{> format_mooin4/local/content/frontpage/community }}
        </div> 
    </div>


    

