<button type="button" class="moointopics-btn" data-action="hide"> {{#str}} close, format_moointopics{{/str}} <i class="bi bi-x-circle-fill"></i></button>
{{#nextSection}}
<a href="{{{sectionurl}}}" type="button" class="moointopics-btn moointopics-btn--primary"> {{#str}} next_chapter, format_moointopics{{/str}}</i></a>
{{/nextSection}}