{{!
    @template format_moointopics/local/content/frontpage/coursetable

    Displays the frontpage coursetable.

    Example context (json):
    {
        TODO
    }
}}

<div class="coursefrontpage__course-table">
    <h2>{{#str}} topicoutline, format_moointopics {{/str}}</h2>
    <ul class="{{format}}" data-for="course_sectionlist">
    {{#initialsection}}
            {{$ core_courseformat/local/content/section }}
                {{> format_moointopics/local/content/section }}
            {{/ core_courseformat/local/content/section }}
        {{/initialsection}}
    {{#sections}}
        {{$ core_courseformat/local/content/section }} 
            {{> format_moointopics/local/content/section }}
        {{/ core_courseformat/local/content/section }}
    {{/sections}} 
</div>