{{!
    @template format_moointopics/local/content/frontpage/header

    Displays the frontpage header.

    Example context (json):
    {
        "headerimageURL": URL
    }
}}

<div class="coursefrontpage__news-section">
    <h2>News</h2>
    <a href="#"><span class="notification-badge mr-1">2</span>ungelesene Beiträge im Newsforum</a>
</div>